.nav {
  padding: 15px;
  background-color: gold;
}
.wallet-select {
  margin: 0 800px 0 0;
}

.price-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 200px;
  margin: -40px 0 0 0;
}
.wallet-content {
  align-content: center;
  margin: 0px 0px 0px 200px;
}

.time-stamp {
  margin-left: 150px;
  font-size: 10px;
}

.time-range-buttons {
  margin-left: 50px;
  color: blue;
}
.item {
  margin: 10px;
  font-size: 1.5rem;
}
.currency-table {
  /* align-items: center; */
  margin-left: 55%;
  margin-right: 30%;
  margin-top: -80px;
  width: 80%;
}
.currency-add-button {
  margin-left: 11%;
  margin-top: 1%;
}

.modal {
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  top: auto !important;
}

.narrow {
  width: 1px;
}
.currency-list {
  margin-top: 10px;
  margin-left: -50%;
}
.base-currency {
  margin-top: 10%;
  position: fixed;
  margin-left: 50%;
  top: 0;
}

@media screen and (max-width: 875px) {
  .currency-table {
    max-width: 20%;
    height: 20;
    width: 10%;
    margin-left: 80px;
  }
  .home-currency-table {
    max-width: 20%;
    height: 20;
    width: 10%;
    margin-left: 80px;
    margin-top: -140px;
  }
  .form {
    height: 0%;
    padding-top: 10px;
    /* display: flex; */
  }
  .currency-list {
    margin-top: 80px;
    margin-left: -80px;
  }
  .currency-box {
    width: 185%;
    height: 10vh;
    display: flex;
    margin-top: 5px;
    /* margin-left: -50px; */
  }
  .currency-name {
    width: 40%;
    height: 10%;
  }
  .delete-button {
    width: 10%;
    height: 10%;
  }
  .form h2 {
    margin-top: -1px;
    font-size: medium;
  }

  .base-currency {
    margin-top: 13%;
    position: absolute;
    margin: 14% 0 0 20px;
  }

  .base-currency h1 {
    margin-top: -12%;
    margin-left: 220px;
    font-size: small;
  }
  .time-stamp {
    visibility: hidden;
  }
  .chart-content {
    margin-top: 1000px;
  }
  .wallet-currency-add-button {
    margin-left: 150px;
  }
  .price-container {
    width: 120%;
    margin: -90px 300px 0 0px;
  }
  /* .currency-tablee {
    margin: 0px 0 40px -70px !important;

    width: 350px !important;
    color: blue;
  } */
  .currency-add-button {
    margin: 10px 0 0 90px;
  }
  /* .home-overview {
    font-size: x-large;
  } */
  .chart-price {
    margin: 20px 20px 0 10px;
    width: 200px;
    height: 10px !important;
    display: flex;
    flex: 1;
    /* align-items: center; */
  }
  .currency-list h1 {
    margin: 0 0 0 10px;
  }
}
